.search-box{
  padding: 10px;
  margin: 20px;
  outline: none;
  border: none;
  width: 100%;
  background: none;
  border-bottom: 1px solid black;
  font-size: 25px;
}

.search-container{
  display: flex;
  justify-content: center;
  margin: 5px 50px;
}

.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px 50px;
}

.card{
  border: solid black 1px;
  display: block;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.card-equipment{
  background-color: burlywood;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
}

.card-classes{
  border-radius: 10px;
  width: 150px;
  height: 175px;
  cursor: pointer;
  background-color: ivory;
  background-repeat: no-repeat;
  background-position: center;
}

.Barbarian{
  background-image: url(../components/List/ListImages/barbarian.png);
}

.Bard{
  background-image: url(../components/List/ListImages/bard.png);
}

.Cleric{
  background-image: url(../components/List/ListImages/cleric.png);
}

.Druid{
  background-image: url(../components/List/ListImages/druid.png);
}

.Fighter{
  background-image: url(../components/List/ListImages/fighter.png);
}

.Monk{
  background-image: url(../components/List/ListImages/monk.png);
}

.Paladin{
  background-image: url(../components/List/ListImages/paladin.png);
}

.Ranger{
  background-image: url(../components/List/ListImages/ranger.png);
}

.Rogue{
  background-image: url(../components/List/ListImages/rogue.png);
}

.Sorcerer{
  background-image: url(../components/List/ListImages/sorcerer.png);
}

.Warlock{
  background-image: url(../components/List/ListImages/warlock.png);
}

.Wizard{
  background-image: url(../components/List/ListImages/wizard.png);
}