/* Global Styles */

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    height: 100%;
}

.bold {
    font-weight: bold;
}

.page-container {
    padding-top: 60px;
}

.social-icon{
    width: 40px;
}

.devider {
    background-color: black;
    height: 2px;
    margin-top: 25px;
    width: 60%;
    border: none;
}

.section-heading {
    text-align: center;
    font-size: 48px;
    position: relative;
    margin-bottom: 20px;
    color: #36bbfd;
}

.section-subheading {
    color: #36bbfd
}

section:not(:first-child) {
    padding: 20px 50px;
}

/* Navigation Styles */

.navbar {
    display: flex;
    padding: 10px;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    height: 60px;
    background-color: #3695c3;
    font-size: 22px;
    z-index: 100;
    color: white;
    box-shadow: 0px 1px 6px #00000040;
}

.navbar-name {
    padding: 10px;
}

.navbar-list {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    align-items: center;
}

.navbar-list li {
    padding: 10px;
    position: relative;
    margin: 5px;
}

.navbar-list li a {
    text-decoration: none;
    color: white;
}

.navbar-list li::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0px;
    height: 2px;
    background-color: white;
    transition: all .3s;
}

.navbar-list li:hover::before{
    width: 100%;
}

/* Footer Styles */

footer {
    display: flex;
    font-size: 16px;
    align-items: center;
}

footer ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
}

footer ul li{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .social-icon {
    width: 20px;
}

.copyright {
    padding: 10px;
    font-size: 20px;
}

/* About Styles  */

.about-section {
    display: flex;
    background-color: #36bbfd;
    justify-content: flex-start;
}

.about-section a {
    color: white;
}

.about-section > * {
    padding: 20px 50px;
}

.profile-card {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    background-color: white;
    box-shadow: -1px 1px 6px #00000040;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 24px;
}

.card-img {
    width: 50%;
    display: block;
    padding: 10px;
}

.card-img img{
    border-radius: 50%;
    padding: 10px;
    width: 250px;
}

.card-info > * {
    margin-top: 10px;
}

.card-info ul {
    display: flex;
    list-style-type: none;
}

.card-info ul li{
    margin: 5px;
}

.card-job {
    text-align: center;
}

.profile-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    box-shadow: -1px 1px 6px #00000040;
}

.profile-info h1{
    font-size: 50px;
}

.profile-info h3{
    font-size: 32px;
}

.profile-info p {
    font-size: 18px;
    margin-top: 15px;
}

/* Resume Styles */

.resume-section h3 {
    font-size: 32px;
}

.resume-card {
    background-color: #36bbfd;
    padding: 50px;
    width: 600px;
    height: 150px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    color: white;
    box-shadow: 1px 0px 6px #00000040;
}

.resume-info {
    width: 200px;
    font-size: 20px;
}

.resume-info > * {
    margin-top: 10px;
}

.resume-info .time {
    font-weight: bold;
}

.resume-text {
    width: 400px;
    font-size: 18px;
}

.resume-text p:not(:first-child){
    margin-top: 15px
}

.resume-card ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.resume-card ul li{
    margin: 25px;
    font-size: 22px;
}

.resume-card ul li::before{
    content: "\203A";
    color:white;
    font-weight: bold;
    display: inline-block; 
    width: 15px;
    margin-left: -1em;
}

/* Project Styles */

.project-section {
    background-color: #36bbfd;
}

.project-section .section-heading{
    color: white;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-item {
    position: relative;
    height: 220px;
    z-index: 1;
    cursor: pointer;
    margin: 20px;
    font-size: 14;
}

.project-item img {
    height: 220px;
    width: auto;
    border-radius: 10px;
}

.project-item .project-name {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    display: none;
    transition: all 1s;
    color: white;
}

.project-item .project-download {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    transition: all 1s;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #36bbfd;
    border-radius: 10px;
    color: white;
}


.project-item:hover img {
   filter: blur(2px) brightness(10%);
}

.project-item:hover .project-download{
    display: block;
}

.project-item:hover .project-name{
    display: block;
}

/* Contact Styles */

.contact-container {
    display: flex;
    height: 100%;
    padding: 20px;
    justify-content: space-around;
}

.contact-info ul{
    list-style-type: none;
    color: #36bbfd;
}

.contact-info ul li {
    margin: 15px;
}

.contact-form input,
.comment-container .form-group input{
    width: 100%;
    border: none;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 10px;
    outline: none;
    box-shadow: 0px 0px 4px #00000040;
}

.contact-form textarea{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 4px #00000040;
}

form {
    width: 100%;
}

.contact-form .form-group{
    display: flex;
    justify-content: space-between;
}

.contact-form form button {
    padding: 10px 20px;
    margin-top: 15px;
    width: 100px;
    border-radius: 10px;
    background-color: white;
    border: none;
    outline: none;
    float: right;
    box-shadow: 0px 0px 4px #00000040;
}

/* Comments Styles */

.comment-section {
    background-color: #36bbfd;
}

.comment-section .section-heading {
    color: white;
}

.comment-container .form-group {
    display: flex;
    justify-content: center;
}

.comment-container .form-group input:first-child{
    width: 200px;
}

.comments ul{
    list-style-type: none;
    background-color: white;
    padding: 20px 50px;
    border-radius: 10px;
}

.comments ul li {
    margin: 20px;
    width: 100%;
}

.comments .username {
    font-weight: bold;
    margin-right: 20px;
}

.comments .date {
    float: right;
}